
html, body{ padding:0px; margin:0px; 	font-size:12px; }
 


.Container{
	
	background-image: url('../images/loginBG.png');
	background-position: top left; 
	background-repeat:no-repeat;
	background-color:#2a94d6;
}

.loginBox{
	background:#f8f8f8;
	padding:5px;
	box-shadow:1px 1px 17px #212121;
	width:65%;
	border:1px solid #f8f8f8;
	border-radius:5px;
 	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	font-size:12px; 
 	margin:150px auto 0px;  
}

.LoginLeft{
	float:left;
	width:60%;
}

.LoginRight{
	float:left;
	width:40%;
}
.Login_logo{
	text-align:center;
	padding:15px;  
}
.userNameInp{ margin-top:5px;}
.userNameInp .ui-inputfield {
	background:#fff url(../images/UserNameIco.png) no-repeat 5px 5px!important;
	border:1px solid #ccc!important;
	border-radius:5px!important;
	width:80%;
	display:block;
	padding:10px 5px 10px 40px!important;
}
.PasswordInp { margin-top:5px;}
.PasswordInp .ui-inputfield {
	background:#fff url(../images/PasswordIco.png) no-repeat 5px 5px!important;
	border:1px solid #ccc!important;
	border-radius:5px!important;
	width:80%;
	display:block;
	padding:10px 5px 10px 40px!important;
}

.Login_inputs{
	padding:10px 0px 20px 40px; 
}
.Login_inputs .ui-state-hover,
.Login_inputs .ui-state-focus{
	border:1px solid #8bade4!important;
}
.Login_inputs .ui-message{
	background:none!important;
	border:0px!important;
	margin:0px 0px 3px 0px!important;
	padding:0px!important;   
} 
.Login_inputs .ui-message .ui-message-error-icon{
	display:none!important;
}
.Login_inputs .ui-message .ui-message-error-detail{
	margin:0px!important; 
}
.Login_inputs .ui-button{
	background:#2288bb!important; 
	color:#fff!important; 
	text-align:center;
	border:1px solid #2288bb!important;
	border-radius:5px!important;
	display:block;
	width:96%;
	padding:8px 5px; 
} 

.Login_inputs .ui-button-text{
	text-shadow:0px -1px 0px rgba(0,0,0,0.3);
	font-size:16px!important; 
}


.copyRight{
	position:relative;
	padding:2px 0px;
	margin:auto;
	text-align:center;     
}
.copyRight .ui-outputlabel{
	font-size:10px;
	color:#fff; 
}

  
/* Login Screen Style End */

/*Header*/
.menuBottom{
	border-bottom:5px solid #1890bd;
	/*padding:5px 10px 2px;*/
	box-shadow:3px 3px 8px #666;
	margin-bottom:5px; 
	background:#fff;
	width:100%;
	position:fixed;
	z-index:999;     
}
.logo{ width:10%; }
.logo .ui-outputlabel{ 
	font-size:17px;
	font-weight:bold;
	color:#1890BD;
	line-height:28px;    
}
.logo img{ float:left;padding-right:5px;}

 
.mainNavigation { width:65%; font-size:13px!important; padding-top:5px; }
.mainNavigation .ui-menubar{ z-index:999;  }
.mainNavigation .ui-menubar .ui-menu-list li.ui-menu-parent a.ui-menuitem-link{
	color:#1890BD;
	text-decoration:none;
	padding:10px 5px;  
}
.mainNavigation .ui-menubar .ui-menu-list li.ui-menu-parent { margin-right:5px; margin-bottom:-5px; }
.mainNavigation .ui-menubar .ui-menu-list li.ui-menuitem { margin-right:5px; margin-bottom:-5px; }
.mainNavigation .ui-menubar .ui-icon{
	float:right!important; 
	right:0px!important;
	position:relative; 
} 
.mainNavigation .ui-menubar .ui-menu-list li.ui-menuitem a.ui-menuitem-link{
	color:#1890BD;
	text-decoration:none;
	padding:10px 5px;  
}
.mainNavigation .ui-menubar .ui-menu-list li.ui-menuitem a.ui-state-hover{
	background:#1890bd!important;
	border:1px solid #1890bd!important;
	border-top-right-radius: 10px!important; 
	border-top-left-radius: 10px!important; 
	border-bottom-right-radius: 0px!important; 
	border-bottom-left-radius: 0px!important; 
	color:#fff; 
}
.mainNavigation .ui-menubar .ui-menu-list li.ui-menu-parent a.ui-state-hover{
	background:#1890bd!important;
	border:1px solid #1890bd!important;
	border-top-right-radius: 10px!important; 
	border-top-left-radius: 10px!important; 
	border-bottom-right-radius: 0px!important; 
	border-bottom-left-radius: 0px!important; 
	color:#fff; 
}
 
.mainNavigation .ui-menubar .ui-menu-list li.ui-menu-parent ul.ui-menu-child{
	background:#1890bd!important;
	padding:5px 10px;
	box-shadow:none!important; 
} 
 
.mainNavigation .ui-menubar .ui-menu-list li.ui-menu-parent ul.ui-menu-child li a{
	color:#fff!important; 
	border-radius: 0px!important;
	border:0px!important;
}

.mainNavigation .ui-menubar .ui-menu-list li.ui-menu-parent ul li a.ui-state-hover{
	background:#33afde!important;
	border-radius: 0px!important;
	color:#fff; 
	border:0px!important;
	 
}
.iconNavigation{ width:25%; text-align:right;  }
.redGreen{ padding:3px 5px 0px 0px;}
.headerIcons .ui-outputlabel{
	color:#ffbc07!important;
	padding-right:5px;
	font-size:13px;   
}  
 
.headerIcons .ui-button {
	background: none !important;
	border: 0px !important;
	color: #1890BD !important;
	font-size: 1.10em !important;
	margin: 0px!important;
	width:40px;
}
.dividerHome{
	height:25px;
	border-right:1px solid #ccc;
	vertical-align:middle;  
}	